data/IGHV_kmer15_by_family.h5 filter=lfs diff=lfs merge=lfs -text
models/DeepSHM.jld2 filter=lfs diff=lfs merge=lfs -text
data/Macaca_mulatta_V.fasta filter=lfs diff=lfs merge=lfs -text
data/IGHV_kmer15_by_family.tsv filter=lfs diff=lfs merge=lfs -text
